
body {
    margin: -4; /* Supprimer les marges par défaut */
    padding: -5; /* Supprimer le padding par défaut */
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Assurer que le conteneur prend au moins toute la hauteur du viewport */
}

main.content {
    flex: 1; /* Permet au contenu principal de s'étendre et de prendre l'espace restant */
    padding: 0; /* Padding pour le contenu */
    position: relative;
}

/* Ajuster les marges internes et les marges des boutons */
.form-container {
    margin: 0;
    padding: 0;
}

.btn-info {
    margin: 0;
}

/* Custom styling for the second table */
.custom-table-striped {
    font-size: 12px;
}

.custom-table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}

.custom-table-striped tbody tr:nth-of-type(even) {
    background-color: #e9e9e9;
}

.custom-table-striped th, .custom-table-striped td {
    vertical-align: middle;
    text-align: center;
    padding: 8px;
}

.custom-table-striped .text-wrap {
    max-width: 100px;
    word-wrap: break-word;
    white-space: normal;
}

.custom-table-striped {
    min-width: 100px;
}
